<%- include('layouts/header') -%>

<div class="container-fluid bg-and-color">
    <div class="row">
        <div class="hide-col col-lg-3">
            <div class="calendar">
                <div class="calendar__picture">
                    <h2>Xin chào,</h2>
                    <h3><%= locals.fullname %></h3>
                    <% if (locals.role === 'student') { %>
                        <p>Lớp: <%= me.class %></p>
                        <p>Khoa: <%= me.faculty %></p>
                    <% } %>
                    <p>Hôm nay, <%= (new Date()).getDate() + '/' + ((new Date()).getMonth() + 1) + '/' +(new Date()).getFullYear() %></p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6" id="my-col-n2">
            <table id="my-post-table" class="table table-borderless mt-3">
                <tbody>
                    <tr>
                        <td class="my-post-image w-60">
                            <%- include('avatar') -%>
                        </td>
                        <td>
                            <input type="text" class="form-control" placeholder="Bạn đang nghĩ gì thế?" data-bs-toggle="modal" data-bs-target="#addPostModal">
                            <div class="modal fade" id="addPostModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addPostModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Tạo bài viết</h5>
                                            <button onclick="closePostForm()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <textarea name="content" id="my-post-editor"></textarea>
                                            <button id="btn-cr-up-post" onclick="createPost()" type="submit" class="btn btn-primary w-100percent mt-3">Đăng</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <%- include('post') -%>
            <div class="lds-facebook start-50 translate-middle"><div></div><div></div><div></div></div>
        </div>
        <div class="hide-col col-lg-3">
            <table id="notification-table" class="table">
                <thead>
                    <tr>
                        <th scope="col">Thông báo</th>
                        <td class="text-end"><a href="/notification">Xem tất cả</a></td>
                    </tr>
                </thead>
                <tbody>
                    <% notifications.forEach(notification => { %>
                        <tr>
                            <td colspan="2">
                                <span class="category-noti">[<%= notification.category.name %>] - <%= notification.createdAt.getDate() + '/' + (notification.createdAt.getMonth() + 1) + '/' + notification.createdAt.getFullYear() %></span><br>
                                <div class="cut-text">
                                    <h6 class="mt-2"><span class="badge rounded-pill bg-danger me-2">New</span> <%= notification.title %></h6>
                                </div>
                                <a class="detail-noti" href="/notification/detail?id=<%= notification._id %>">Xem chi tiết</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include('layouts/footer') -%>