<%- include('../layouts/header') -%>

<div class="container-fluid bg-and-color">
    <div class="row">
        <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="notificationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
                        <button type="button" onclick="closeNotification()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="notification-form">
                        <div class="modal-body">
                            <input id="title" type="text" class="form-control mb-1 border-radius-2" placeholder="Tiêu đề thông báo" required>
                            <div id="notification-editor"></div>
                            <select id="category" class="form-select mt-1 border-radius-2" aria-label="Default select example" required>
                                <option value="" selected>Chuyên mục</option>
                                <% categories.forEach(category => { %>
                                    <option value="<%= category._id %>"><%= category.name %></option>
                                <% }) %>
                            </select>
                            <input class="form-control mt-1" type="file" id="formFileMultiple" multiple>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary w-100">Đăng</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="my-col-n1" class="hide-col col-3">
            <%- include('sidebar', { categories }) -%>
        </div>
        <div class="col-12 col-lg-9" id="my-col-n2">
            <%- include('detail_content', { notification }) -%>
        </div>
    </div>
</div>

<%- include('../layouts/footer') -%>